.course {
  :nth-child(n) {
    margin-bottom: 8px;
  }
  .header {
    border-bottom: 6px solid var(--hover);
  }
}
.lesson {
  .lessonNavBar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 8px;
  }

  .lessonHeader {
    display: flex;
    align-items: center;
    margin-block: 30px;
    margin-left: -20px;
  }

  .reminder,
  .lessonContent {
    margin-bottom: 10px;
  }

  .quiz {
    background-color: var(--medium);
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 10px;
    :nth-child(n) {
      margin-block: 5px;
    }

    #choices {
      margin-right: 20px;
    }
  }
}
