.header {
  background-color: var(--medium);
  border-radius: var(--border-radius);
  padding: 0 24px 8px;
  height: 25vh;
  display: flex;
  align-items: flex-end;
}
.study,
.teaching {
  margin-top: 8px;
}
