.header {
  background-color: var(--medium);
  border-radius: var(--border-radius);
  padding: 0 24px 8px;
  height: 25vh;
  display: flex;
  align-items: flex-end;
}
.study,
.teaching {
  margin-top: 8px;
}
.profileInfo {
  table {
    width: 100%;
    margin-top: 8px;
  }
  th {
    text-align: left;
    padding-block: 8px;
    width: 20%;
  }
  td {
    text-align: left;
    padding-bottom: 8px;
  }
}
